#land {
  background-color: $light-color;
  color: $dark-color;
  height: 100vh;
  border: 1px solid transparent;


  h1 {
    font-size: 10vmin;
  }

  a#login-triger {
    background-color: $primary-color;
    color: $light-color;
    font-weight:$thin-font-weight;
  }

}
